<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
    xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
      	xsi:schemaLocation="http://www.springframework.org/schema/beans           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.directwebremoting.org/schema/spring-dwr   http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd
	   http://www.springframework.org/schema/aop           http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx           http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
           http://www.springframework.org/schema/context           http://www.springframework.org/schema/context/spring-context-2.5.xsd">
  <context:annotation-config />
	<context:component-scan base-package="com.orangeleap.webtools" />

    <!-- Load EHCache bean here, since it is needed by messageSource -->
    <bean id="cacheManager"
          class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean"
          p:configLocation="classpath:ehcache.xml"/>

	<bean id="sessionCache"
          class="org.springframework.cache.ehcache.EhCacheFactoryBean"
          p:cacheManager-ref="cacheManager"
          p:cacheName="sessionCache"
          />

    <bean id="picklistCache"
          class="org.springframework.cache.ehcache.EhCacheFactoryBean"
          p:cacheManager-ref="cacheManager"
          p:cacheName="picklistCache"
          />

    <bean id="customTableCache"
          class="org.springframework.cache.ehcache.EhCacheFactoryBean"
          p:cacheManager-ref="cacheManager"
          p:cacheName="customTableCache"
          />
    <bean id="constituentCache"
          class="org.springframework.cache.ehcache.EhCacheFactoryBean"
          p:cacheManager-ref="cacheManager"
          p:cacheName="customTableCache"
          />

	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>app</value>
				<value>webtools-messages</value>
			</list>
		</property>
	</bean>

  <dwr:configuration />
  <dwr:controller id="dwrController" debug="true" />

  <bean id="orangeLeapWidget" class="com.orangeleap.webtools.service.impl.OrangeLeapWidgetServiceImpl">
    <dwr:remote javascript="OrangeLeapWidget">
      <dwr:include method="create" />
      <dwr:include method="authenticate" />
      <dwr:include method="getRoles" />
      <dwr:include method="updateViewCount"/>
      <dwr:include method="updateErrorCount"/>
      <dwr:include method="process"/>
      <dwr:include method="getCustomEntity"/>
      <dwr:include method="getConstituent"/>
      <dwr:include method="getPickListItems"/>
      <dwr:include method="getConstituentGifts"/>
      <dwr:include method="addCustomTableRow"/>
      <dwr:convert type="bean"  class="com.orangeleap.webtools.domain.WidgetData" />
      <dwr:convert type="bean"  class="com.orangeleap.client.*"/>
      <dwr:convert type="bean"  class="com.orangeleap.client.CustomTable"/>
      <dwr:convert type="bean"  class="com.orangeleap.client.CustomTableField"/>
      <dwr:convert type="bean"  class="com.orangeleap.client.AbstractCustomizableEntity$CustomFieldMap"/>
      <dwr:convert type="bean"  class="com.sun.org.apache.xerces.internal.jaxb.datatype.XMLGregorianCalendarImpl"/>
    </dwr:remote>
  </bean>

</beans>

